.ngx-slight-scroll {
  overflow: auto;
  max-height:25vh;
}
.ngx-slight-scroll::-webkit-scrollbar {
  width: 10px !important;
  background-color: white !important;
}

.ngx-slight-scroll::-webkit-scrollbar-thumb {
  width: 10px !important;
  border-radius: 0;
  background-color: #9b9b9b !important;
}

.ngx-slight-scroll::-webkit-scrollbar-thumb:horizontal {
  width: 10px !important;
  border-radius: 0 !important;
  background-color: #9b9b9b !important;
}
