<div class="p-3">
  <div class="py-3 h2">
    ngx-alert
  </div>
  <ngx-alert [mode]="'primary'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-alert>
  <ngx-alert [mode]="'success'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-alert>
  <ngx-alert [mode]="'info'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-alert>
  <ngx-alert [mode]="'warning'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-alert>
  <ngx-alert [mode]="'danger'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-alert>
</div>
<hr>
<div class="p-3">
  <div class="py-3 h2">
    ngx-just-alert
  </div>
  <ngx-just-alert [mode]="'primary'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-just-alert>
  <ngx-just-alert [mode]="'success'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-just-alert>
  <ngx-just-alert [mode]="'info'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-just-alert>
  <ngx-just-alert [mode]="'warning'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-just-alert>
  <ngx-just-alert [mode]="'danger'"
    [text]="'sparked by the magic of randomness and tailored to your exact desires.'"></ngx-just-alert>
</div>
