<div class="p-3">
  <ngx-just-alert [close]="true" [mode]="'primary'" [bold]="true" [disabled]="'true'"
    [text]="'Hello world'"></ngx-just-alert>
  <ngx-just-alert [close]="true" [mode]="'success'" [bold]="true" [disabled]="'true'"
    [text]="'Hello world'"></ngx-just-alert>
  <ngx-just-alert [close]="true" [mode]="'info'" [bold]="true" [disabled]="'true'"
    [text]="'Hello world'"></ngx-just-alert>
  <ngx-just-alert [close]="true" [mode]="'warning'" [bold]="true" [disabled]="'true'"
    [text]="'Hello world'"></ngx-just-alert>
  <ngx-just-alert [close]="true" [mode]="'danger'" [bold]="true" [disabled]="'true'"
    [text]="'Hello world'"></ngx-just-alert>
</div>
<hr>
<div class="p-3">
  <ngx-alert [close]="true" [mode]="'primary'" [bold]="true" [disabled]="'true'" [text]="'Hello world'"></ngx-alert>
  <ngx-alert [close]="true" [mode]="'success'" [bold]="true" [disabled]="'true'" [text]="'Hello world'"></ngx-alert>
  <ngx-alert [close]="true" [mode]="'info'" [bold]="true" [disabled]="'true'" [text]="'Hello world'"></ngx-alert>
  <ngx-alert [close]="true" [mode]="'warning'" [bold]="true" [disabled]="'true'" [text]="'Hello world'"></ngx-alert>
  <ngx-alert [close]="true" [mode]="'danger'" [bold]="true" [disabled]="'true'" [text]="'Hello world'"></ngx-alert>
</div>
