<p>ngx-prime-color-picker works!</p>
<div class="p-5">
  <div class="split-view">
    <ngx-prime-color-picker [showConversionTable]="true" [showLightness]="true" [showColorPalette]="true"
      (getCurrentColorObject)="currentColorObject($event)" [color]="color" [showGradient]="true"
      [showSaturation]="true"></ngx-prime-color-picker>
    <!-- <ngx-prime-color-picker [showConversionTable]="true" [showLightness]="true" [showColorPalette]="true"
      [showGradient]="true" [showSaturation]="false"></ngx-prime-color-picker>
    <ngx-prime-color-picker [showConversionTable]="true" [showLightness]="true" [showColorPalette]="true"
      [showGradient]="false" [showSaturation]="false"></ngx-prime-color-picker>
    <ngx-prime-color-picker [showConversionTable]="true" [showLightness]="true" [showColorPalette]="false"
      [showGradient]="false" [showSaturation]="false"></ngx-prime-color-picker>
    <ngx-prime-color-picker [showConversionTable]="true" [showLightness]="false" [showColorPalette]="false"
      [showGradient]="false" [showSaturation]="false"></ngx-prime-color-picker>
    <ngx-prime-color-picker [showConversionTable]="false" [showLightness]="false" [showColorPalette]="false"
      [showGradient]="false" [showSaturation]="false"></ngx-prime-color-picker> -->
  </div>
</div>
