<div class="p-3">
  <span ngxEmailSlicer>
    manoj10101996gmail.com
  </span> <br>
  <span ngxEmailSlicer>
    violinhi@yahoo.com
  </span> <br>
  <span ngxEmailSlicer>
    staikos@optonline.net
  </span> <br>
  <span invalid="Error occured" ngxEmailSlicer>
    staikosoptonline.net
  </span>
  <br>
  <span invalid="Error occured" ngxEmailSlicer>
    staik@osoptonlinenet
  </span>
  <hr>
  <span lines="1" ngxLineLimit>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </span>
  <hr>
  <span from="quis" to="HELLO" ngxStringReplacer>
    lorem quis dolor sit amet, consectetur quis elit, sed do quis tempor incididunt ut quis et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea quis consequat.
    Duis aute quis dolor in reprehenderit in voluptate velit quis cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat quis quis proident, quis in culpa qui quis deserunt mollit anim id est laborum.
  </span>
  <hr>
  <span [start]="0" [end]="10" [overflow]="true" ngxStringSlicer>
    lorem ipsum dolor sit amet, consectetur adipiscing el
  </span>
  <hr>
  <span ngxInitialCase>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  </span>
  <h3>Titlecase</h3>
  <span ngxTitleCase>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  </span>
  <h3>Uppercase</h3>
  <span ngxUpperCase>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  </span>
  <h3>Lowercase</h3>
  <span ngxLowerCase>
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  </span>
</div>
