<div class="p-3">
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'success'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'primary'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'info'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'warning'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'danger'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
  <div>
    <ngx-tags-input [limit]="10" [placeholder]="'Add Tags...'" [mode]="'light'" [tags]="tags" [rounded]="rounded"
      [disabled]="disabled" (tagsChange)="displayTags($event)"></ngx-tags-input>
  </div>
</div>
